<div>
    <div>
        <h3>Fullness: @ViewBag.Fullness</h3>
        <h3>Happiness: @ViewBag.Happiness</h3>
        <h3>Meals: @ViewBag.Meals</h3>
        <h3>Energy: @ViewBag.Energy</h3>
    </div>
    <div>
        <h1>@TempData["Message"] </h1>
    </div>
    <div>
        <a href="/feed">Feed</a>
        <a href="/play">Play</a>
        <a href="/work">Work</a>
        <a href="/sleep">Sleep</a>
        <a href="/reset">Reset</a>
    </div>
</div>